@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação de gradiente suave */
@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.bg-gradient-animation {
  background: linear-gradient(
    45deg,
    #4a90e2,
    #e94e77,
    #50e3c2
  ); /* Gradiente com 3 cores */
  background-size: 300% 300%; /* Ajustado para 300% */
  animation: gradient-animation 15s ease infinite;
}

/* Estilo para a área de drop */
.drop-area {
  width: 800px;
  height: 200px;
  position: relative;
  background: white;
  border-radius: 8px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui o padding e border na largura e altura total */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  overflow: hidden; /* Garante que o pseudo-elemento não transborde */
  /* Para garantir que o pseudo-elemento esteja acima da área */
  z-index: 1;
}

/* Pseudo-elemento para borda pontilhada interna */
.drop-area::before {
  content: "";
  position: absolute;
  top: 5px; /* Distância da borda */
  left: 5px; /* Distância da borda */
  right: 5px; /* Distância da borda */
  bottom: 5px; /* Distância da borda */
  border: 1px dashed #ccc; /* Borda pontilhada */
  border-radius: 8px; /* Borda arredondada */
  pointer-events: none; /* Permite cliques passarem para o elemento pai */
  box-sizing: border-box; /* Inclui o padding e border na largura e altura total */
  z-index: -1; /* Garante que o pseudo-elemento fique atrás do conteúdo */
  transition: border-color 0.3s ease; /* Transição suave para a cor da borda */
}

.drop-area:hover::before {
  border-color: #7042f0; /* Cor da borda ao passar o mouse */
}

.drop-area svg {
  /* padding-top: 1px; */
  color: #4a90e2;
}

/* Adicionar feedback visual ao arrastar sobre a área de drop */
.drop-area.bg-blue-100 {
  border-color: #007bff; /* Cor da borda quando um arquivo está sobre a área */
  background-color: #e7f0ff;
}
