@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação de gradiente suave */
@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.bg-gradient-animation {
  background: linear-gradient(135deg, #ff8c42, #d72638, #3b83ca);
  background-size: 400% 400%;
  animation: gradient-animation 16s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 70%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilo para a área de drop */
.drop-area {
  width: 100%; /* Largura total */
  max-width: 800px; /* Largura máxima */
  height: auto; /* Altura automática */
  min-height: 150px; /* Altura mínima */
  position: relative;
  background: white;
  border-radius: 8px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui o padding e border na largura e altura total */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  overflow: hidden; /* Garante que o pseudo-elemento não transborde */
  margin: 0 auto; /* Centraliza a área de drop */
  z-index: 1;
}

/* Pseudo-elemento para borda pontilhada interna */
.drop-area::before {
  content: "";
  position: absolute;
  top: 10px; /* Distância da borda */
  left: 10px; /* Distância da borda */
  right: 10px; /* Distância da borda */
  bottom: 10px; /* Distância da borda */
  border: 1px dashed #ccc; /* Borda pontilhada */
  border-radius: 8px; /* Borda arredondada */
  pointer-events: none; /* Permite cliques passarem para o elemento pai */
  box-sizing: border-box; /* Inclui o padding e border na largura e altura total */
  z-index: -1; /* Garante que o pseudo-elemento fique atrás do conteúdo */
  transition: border-color 0.3s ease; /* Transição suave para a cor da borda */
}

.drop-area:hover::before {
  border-color: #7042f0; /* Cor da borda ao passar o mouse */
}

.drop-area svg {
  color: #4a90e2;
}

/* Adicionar feedback visual ao arrastar sobre a área de drop */
.drop-area.bg-blue-100 {
  border-color: #007bff; /* Cor da borda quando um arquivo está sobre a área */
  background-color: #e7f0ff;
}
